.chineseChess {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

.history {
	float: left;
	position: relative;
	height: 525px;
}

.historyContent {
	overflow: scroll;
	height: 25em;
	width: 8em;
}

.historyControl {
	font-weight: bold;
}

.historyBack {
	padding-right: 30px;
	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-left-color: white;
	border-right-color: gray;
	border-bottom-color: gray;
	background-color: #CCC;
	cursor: pointer;
}

.historyForward {
	padding-left: 30px;
	border-top-color: white;
	border-left-color: white;
	border-right-color: gray;
	border-bottom-color: gray;
	border-style: solid;
	border-width: 1px;
	background-color: #CCC;
	cursor: pointer;
}

.board {
	float: right;
	width: 480px;
	height: 525px;
	background-image: url("board.jpg");
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}

.boardRow0 {
	top: 9px;
}

.boardRow1 {
	top: 60px;
}

.boardRow2 {
	top: 111px;
}

.boardRow3 {
	top: 162px;
}

.boardRow4 {
	top: 213px;
}

.boardRow5 {
	top: 264px;
}

.boardRow6 {
	top: 315px;
}

.boardRow7 {
	top: 366px;
}

.boardRow8 {
	top: 417px;
}

.boardRow9 {
	top: 468px;
}

.boardColumn0 {
	left: 18px;
}

.boardColumn1 {
	left: 67px;
}

.boardColumn2 {
	left: 116px;
}

.boardColumn3 {
	left: 165px;
}

.boardColumn4 {
	left: 214px;
}

.boardColumn5 {
	left: 263px;
}

.boardColumn6 {
	left: 312px;
}

.boardColumn7 {
	left: 361px;
}

.boardColumn8 {
	left: 410px;
}

.boardCell {
	position: absolute;
}

.black_pawn, .black_cannon, .black_tank, .black_horse, .black_elephant, .black_guard, .black_king, .red_pawn, .red_cannon, .red_tank, .red_horse, .red_elephant, .red_guard, .red_king, .empty {
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	background-repeat: no-repeat;
}

.empty {
	cursor: default;
}

.black_pawn {
	background-image: url("black_pawn.png");
}
.red_pawn {
	background-image: url("red_pawn.png");
}

.black_cannon {
	background-image: url("black_cannon.png");
}
.red_cannon {
	background-image: url("red_cannon.png");
}

.black_tank {
	background-image: url("black_tank.png");
}
.red_tank {
	background-image: url("red_tank.png");
}

.black_horse {
	background-image: url("black_horse.png");
}
.red_horse {
	background-image: url("red_horse.png");
}

.black_elephant {
	background-image: url("black_elephant.png");
}
.red_elephant {
	background-image: url("red_elephant.png");
}

.black_guard {
	background-image: url("black_guard.png");
}
.red_guard {
	background-image: url("red_guard.png");
}

.black_king {
	background-image: url("black_king.png");
}
.red_king {
	background-image: url("red_king.png");
}
