.chineseChess {
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

.board {
	width: 790px;
	height: 885px;
	float: right;
	background-image: url("board.png");
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}

.history {
	float: left;
	position: relative;
	height: 885px;
}

.historyContent {
	overflow: scroll;
	height: 25em;
	width: 8em;
}

.historyControl {
	font-weight: bold;
}

.historyBack {
	padding-right: 30px;
	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-left-color: white;
	border-right-color: gray;
	border-bottom-color: gray;
	background-color: #CCC;
	cursor: pointer;
}

.historyForward {
	padding-left: 30px;
	border-top-color: white;
	border-left-color: white;
	border-right-color: gray;
	border-bottom-color: gray;
	border-style: solid;
	border-width: 1px;
	background-color: #CCC;
	cursor: pointer;
}

.boardRow0 {
	top: 4px;
}

.boardRow1 {
	top: 94px;
}

.boardRow2 {
	top: 184px;
}

.boardRow3 {
	top: 274px;
}

.boardRow4 {
	top: 364px;
}

.boardRow5 {
	top: 454px;
}

.boardRow6 {
	top: 544px;
}

.boardRow7 {
	top: 634px;
}

.boardRow8 {
	top: 724px;
}

.boardRow9 {
	top: 814px;
}

.boardColumn0 {
	left: 9px;
}

.boardColumn1 {
	left: 96px;
}

.boardColumn2 {
	left: 183px;
}

.boardColumn3 {
	left: 270px;
}

.boardColumn4 {
	left: 357px;
}

.boardColumn5 {
	left: 444px;
}

.boardColumn6 {
	left: 531px;
}

.boardColumn7 {
	left: 618px;
}

.boardColumn8 {
	left: 705px;
}

.boardCell {
	position: absolute;
}

.black_pawn, .black_cannon, .black_tank, .black_horse, .black_elephant, .black_guard, .black_king, .red_pawn, .red_cannon, .red_tank, .red_horse, .red_elephant, .red_guard, .red_king, .empty {
	width: 71px;
	height: 71px;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	background-repeat: no-repeat;
}

.empty {
	cursor: default;
}

.black_pawn {
	background-image: url("black_pawn.png");
}
.red_pawn {
	background-image: url("red_pawn.png");
}

.black_cannon {
	background-image: url("black_cannon.png");
}
.red_cannon {
	background-image: url("red_cannon.png");
}

.black_tank {
	background-image: url("black_tank.png");
}
.red_tank {
	background-image: url("red_tank.png");
}

.black_horse {
	background-image: url("black_horse.png");
}
.red_horse {
	background-image: url("red_horse.png");
}

.black_elephant {
	background-image: url("black_elephant.png");
}
.red_elephant {
	background-image: url("red_elephant.png");
}

.black_guard {
	background-image: url("black_guard.png");
}
.red_guard {
	background-image: url("red_guard.png");
}

.black_king {
	background-image: url("black_king.png");
}
.red_king {
	background-image: url("red_king.png");
}
