.board {
	float: right;
	width: 525px;
	height: 480px;
	background-image: url("hboard.jpg");
	position: relative;
}

.boardColumn8 {
	top: 19px;
}

.boardColumn7 {
	top: 68px;
}

.boardColumn6 {
	top: 117px;
}

.boardColumn5 {
	top: 166px;
}

.boardColumn4 {
	top: 215px;
}

.boardColumn3 {
	top: 264px;
}

.boardColumn2 {
	top: 313px;
}

.boardColumn1 {
	top: 362px;
}

.boardColumn0 {
	top: 411px;
}

.boardRow0 {
	left: 8px;
}

.boardRow1 {
	left: 59px;
}

.boardRow2 {
	left: 110px;
}

.boardRow3 {
	left: 161px;
}

.boardRow4 {
	left: 212px;;
}

.boardRow5 {
	left: 263px;
}

.boardRow6 {
	left: 314px;
}

.boardRow7 {
	left: 365px;
}

.boardRow8 {
	left: 416px;
}

.boardRow9 {
	left: 467px;
}
