.board {
	float: right;
	width: 480px;
	height: 525px;
	background-image: url("rboard.jpg");
	position: relative;
}

.boardRow9 {
	top: 9px;
}

.boardRow8 {
	top: 60px;
}

.boardRow7 {
	top: 111px;
}

.boardRow6 {
	top: 162px;
}

.boardRow5 {
	top: 213px;
}

.boardRow4 {
	top: 264px;
}

.boardRow3 {
	top: 315px;
}

.boardRow2 {
	top: 366px;
}

.boardRow1 {
	top: 417px;
}

.boardRow0 {
	top: 468px;
}

.boardColumn8 {
	left: 18px;
}

.boardColumn7 {
	left: 67px;
}

.boardColumn6 {
	left: 116px;
}

.boardColumn5 {
	left: 165px;
}

.boardColumn4 {
	left: 214px;;
}

.boardColumn3 {
	left: 263px;
}

.boardColumn2 {
	left: 312px;
}

.boardColumn1 {
	left: 361px;
}

.boardColumn0 {
	left: 410px;
}


.blackStatus {
	top: 493px;
	left: 500px;
	width: 16px;
	height: 32px;
	position: absolute;
}

.redStatus {
	top: 0px;
	left: 500px;
	width: 16px;
	height: 32px;
	position: absolute;
}

.turn {
	background-color: green;
	width: 16px;
	height: 16px;
}

.winner {
	background-color: #FFD700;
	width: 16px;
	height: 16px;
}
