<%inherit file="base.mako" />
<script>
function sendUpdateSuccess(text, xml) {
	alert(text);
}
function sendUpdateFailure() {
	alert('fail');
}
function timer(var1, var2) {
		var ajax = new XHR( {method: "post",
			onSuccess: sendUpdateSuccess,
			onFailure: sendUpdateFailure,
			headers: { "Cache-Control": "no-cache",
				"Pragma": "no-cache" },
			isSuccess: function(status) {
				return status == 0 || (status >= 200 && status < 300);
			}
		} );
		ajax.send("http://udg-01.4vn.org:8888/match/ajax/CQAAAAAAAAAB", "action=update&index=3");
}
timer.periodical(5000, "a", "b")
</script>	
