.content {
	font-family: Georgia, sans-serif;
}

.footer {
	clear: both;
}

label {
	float: left;
	width: 8em;
}

input, textarea {
	width: 20em;
	margin-bottom: 8px;
}

input[type="submit"] {
	width: 10em;
}
